extends layout

block content
    h1= title
    form
        input(type='radio' name='option1' value='Text Answer Question' checked)
        input(type='radio' name='option2' value='True or False Question')
    //Below is a div tag that has the HTML within it change based on which radio button is selected
    #ToggleQuestionType
        form
            input(type='text' name='textQuestion')
            input(type='text' name='textAnswer')
        
        //This is the code for when you switch to the second choice
        //form
            input(type='text' name='trueOrFalseQuestion')
            input(type='checkbox' name='trueOrFalseQuestion' title='Checked for True, unchecked for False')
    
    input(type='submit' name='addQuestion' value='Add Question to List')
    
    ol Question List
    
    input(type='submit' name='completeSurvey' value='Submit New Survey')
        
