extends layout

block content
  h1= title
  form
    label Username:
    input(type='text', name='username')
    
    label Email:
    input(type='text', name='email')
    
    label Previous Password:
    input(type='password', name='pPassword')
    
    label New Password:
    input(type='password', name='nPassword')
    
    input(type='submit' name='confirm' value='Submit Changes')
