//-Index Home page
//-Shyla Grantmyre, Schevene Singh, Alyssa Brown, Liam Edwards
//-DSA Survey Site
//-Home page of the pug site
extends layout

block content

  .image 
   

  h1= title
  p Welcome to the #{title}

  div.dj 
    p  
    | In this application will let you create a
    | KLNIHUOHOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    | UYFTDJYTYUGIHUGJYFTH
    | In this application will let you create a
    | KLNIHUOHOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
    | UYFTDJYTYUGIHUGJYFTH
  br
  br
  if isAuthenticated
    p Welcome User!
    br
  else
    button Sign in
    br 
    button Sign up
    br
  button Take a survey

