//-Index Home page
//-Shyla Grantmyre, Schevene Singh, Alyssa Brown, Liam Edwards
//-DSA Survey Site
//-Home page of the pug site
extends layout

block content

  .image 
   

  h1= title
  p Welcome to the #{title}

  div.dj 
  br
  br
  if isAuthenticated
    p Welcome User!
    br
  else
    a(href="login"): button(type="button") Sign in 
    br 
    a(href="register"): button(type="button") Sign up
    br
  a(href="viewsurveys"): button(type="button") Take a survey

