extends layout

block content
    h1= title
    div(style="height:100px;overflow:auto;")
        table
            tr
                th(colspan = '2', text-align = 'center') User Surveys
            tr
                th Survey Name
                th Creator
            //Pull every survey into an arrayList or something
        //
            each survey, n in surveys.length
                tr
                    td
                        a(href=[Put the generated link to the survey webpage here]) #{[get the survey object's name]}
                    td
                        #{[Put the survey's creator's name variable here]}
                                
