//-View survey pug page
//-Contributers: Shyla Grantmyre, Schevene Singh, Alyssa Brown, Liam Edwards
//-DSA Survey Site
//-Page that renders the skeleton of a survey to be created
extends layout

block content
    h1= {survey.title}
    form(method="POST")
        .content
        input(type="hidden", value=Id, name="surveyId")
        for (var q = 0; q < {survey.questions}.length; q++) {
            var question = {survey.questions}[q];
            var questionName = "Question " + (q + 1);
            h6 = questionName;
            h6 = question.question
            for(var a = 0; a < question.answers.length; a++){
               input(type="radio", name=questionName, value=question.answers[a]) question.answers[a]
            }
        }
        button(type="submit")Submit
    //Render the user-made question as the HTML elements here